@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.input-container,
.output-container {
  display: inline;
}

label {
  display: block;
}

textarea {
  resize: none;
  padding: 10px;
}

#input,
#output {
  width: 500px;
  height: 200px;
}

.btn {
  display: block;
  margin: 20px auto;
  padding: 5px;
}
